*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background:#ffffff;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    font-family: cursive;
}

h1{
    font-size: 40px;

}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

h6{
    font-size: 16px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
}

a{
    color: #fff;
    text-decoration: none;
}

.button{
    display: inline-block;
    border-radius: 0;
    border:1px solid #333;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    outline: none;
    height: 48px;
    line-height: 48px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: 1px;
}

.button.round{
    background: #ff3c41;
    color: #fff;
    border-radius: 10px;
    padding: 0 22px;
    border: none;
    
}

.button.round:hover{
    background: #dc3545;
    opacity: 8;
    transition: 0.5s all;
}

img{
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.center{
    text-align: center;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 30px;
}

.header{
    padding: 30px 70px 50px 70px;
    background: url(./../images/1.jpg);
    background-size: cover;
    
   
}
.header-nav{
    padding: 0 0 0 50px;
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 42px;
    text-transform: capitalize;
    position: relative;
    
}

.logo a img{
    position: absolute;
    left: -56px;
    transform: rotate(-32deg);
    width: 60%;
    top: -3%;
}

.navigation{
    display: flex;
     padding: 10px 0;
    margin: 0;
}

.header-navbar li{
    padding: 0;
    list-style: none;
}

.header-navbar a{
    font-size: 14px;
    font-weight: 700;
    font-family: cursive;
    color: #fff;
    letter-spacing: 2px;
    margin: 0 12px;
    text-transform: capitalize;
}



.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content  {
    position: absolute;
    background: #000000;
   min-width: 190px;
   display: none;
}

.dropdown-content a{
    display: block;
    padding: 12px 12px;
    font-size: 14px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover {
    color:#777;
}

.header-banner-right{
    display: flex;
    margin-top: 115px;
    
}

.header-banner-content{
    max-width: 50%;
    margin-left: auto;
    text-align: right;
}

.header-banner-content h3{
    color: #fff;
    font-size: 44px;
    letter-spacing: 2px;
    background: rgba(247, 248, 249, 0.1);
    padding: 5px 15px;
}

.header-banner-content p{
    color: #dcdcdc;
}

.header-button{
    margin-top: 45px;
}

.social-icons{
    margin-top: 30px;
    position: relative;
}

.social-icons ul{
    display: flex;
    justify-content: center;
}

.social-icons li{
    list-style: none;
}

.social-icons a{
    margin: 0 12px;
}

.social-icons::before{
    position: absolute;
    background: rgba(255, 255, 255, 0.48);
    width: 13%;
    height: 1px;
    content: "";
    left: 23%;
    top: 10px;
  
}

.social-icons::after{
    position: absolute;
    background: rgba(255, 255, 255, 0.48);
    width: 13%;
    height: 1px;
    content: "";
    right: 23%;
    top: 10px;
}

.header-banner-left{
    display: flex;
    margin-top: 50px;
    position: relative;
    
}

.title1,.title2{
    padding: 0 15px;
    max-width: 230px;
}

.title1 h5,.title2 h5{
    font-size: 20px;
    color:#fff;
    font-family: cursive;
    letter-spacing: 2px;
    
}

.title1 p,.title2 p{
    font-size: 12px;
    color: #dadada;
    font-weight: 400;
}

.title1::after{
    position: absolute;
    background: rgba(255, 255, 255, 0.48);
    width: 1px;
    height: 137%;
    content: "";
    left: 19%;
    top: 0;
}



